<div id="footer">
    
        
    <p class="follow-on-in">Follow us on: <a class="follow-link" href="#">LinkedIn</a></p>
    <p class="email-follow">Email us at: <a class="email-class" href="#">vaibhavpathak659@gmail.com</a></p>
    
    <!-- <p class="c-quizmania">2021 © Quizmania</p> -->
   
    
    
</div>