<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found !</title>
</head>
<body style="background-color: #EDF6E5; text-align: center; align-items: center; box-sizing: border-box; min-height: 80vh;">
    <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #414449;">No Record Found!</h3>
</body>
</html>