<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizmania - Make and play online quizes</title>

    <link rel="icon" href="/images/icon-img1.png">

    <!-- CSS styles-->
    <link rel="stylesheet" href="/css/style1.css">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    
    <script>
    $(document).ready(function(){
        $('#icon-bars').click(function(){
            $('ul').toggleClass('show');
        });
    });

    </script>

</head>
<body>
    <!-- Section 1-->

    <div id="Section-1">
        <nav class="navigation-bar createNav">
            <div class="logo">
                <a class="logo-txt" href="/">Quizmania</a>
            </div>
            
            
        </nav>

        <form method="POST">
            <div style="background: white; text-align: center" class="user-dashboard">
                <div class="nomd nomd2 revrse-set">
                    
                    <h3 class="manage-margins-stud-dets" style="color: #0061a8;">Enter your name: </h3>
                    
                    <input class="manage-margins-stud-dets" style="padding: 6px; color: rgb(35, 35, 35); width: 166px;" type="text" name="studname" placeholder="Your name">
                    <button class="btnStart hbtn manage-margins-stud-dets submit-Buttttn" name="studdetail" value="" type="submit">Submit</button>
                    
                </div>
                
            </div>
        </form>
    </div>

</body>
</html>